{% extends "base_generic.html" %}

{% block content %}
    <div style="margin-top: 50px; margin-left: 50px">
        <h1>Update my Account!!!</h1>
        <form action="" method="post">

            {% csrf_token %}
{#            {{ form }}#}
            <table>
                <p><label for="username">Username</label>
                    <input type="text" class="form-control" style="width: 40%" id="username" name="username"
                           value="{{ user.username }}"
                    required></p >
                <p><label for="email">Email Address</label>
                    <input type="email" class="form-control" style="width: 40%" id="email" name="email"
                           value="{{ user.email }}"
                    required></p >
                {% if user.is_driver %}
                <p><label for="full_name">Full Name</label>
                    <input type="text" class="form-control" style="width: 40%" id="full_name" name="full_name"
                           value="{{ user.full_name }}"
                    required disabled></p >
                <p><label for="vehicle_type">My vehicle type</label>
                    <input type="text" class="form-control" style="width: 40%" id="vehicle_type" name="vehicle_type"
                           value="{{ user.vehicle_type }}"
                    required></p >
                <p><label for="license_num">My license number</label>
                    <input type="text" class="form-control" style="width: 40%" id="license_num" name="license_num"
                           value="{{ user.license_num }}"
                    required></p >
                <p><label for="max_passenger">Vehicle Capacity</label>
                    <input type="number" class="form-control" style="width: 40%" id="max_passenger" name="max_passenger"
                           value="{{ user.max_passenger }}"
                    required></p >
                <p><label for="special_vehicle_info">Special vehicle information</label>
                    <input type="text" class="form-control" style="width: 40%" id="special_vehicle_info" name="special_vehicle_info"
                           value="{{ user.special_vehicle_info }}"></p >
                {% else %}
                {% endif %}
            </table>

{#            <input class="btn btn-primary" type="submit" value="Update" style="width: 150px; margin-left: 100px"/>#}

            <button type="submit" class="btn btn-success">Update</button>
            <a href="{% url 'upgrade-as-a-driver' %}">upgrade as a driver</a>

        </form>
    </div>
{% endblock %}