{% extends "base_generic.html" %}

{% block content %}
    <div  style="margin-top: 50px; margin-left: 50px">
        <h1>My Account</h1>
        <p><strong>Username: </strong>{{ user.username }}</p >
        <p><strong>Email Address: </strong>{{ user.email }}</p >
        {% if user.license_num %}
            <p><strong>My Vehicle Type: </strong>{{ user.vehicle_type }}</p >
            <p><strong>My License Number: </strong>{{ user.license_num }}</p >
            <p><strong>Vehicle Capacity: </strong>{{ user.max_passenger }}</p >
        {% else %}
            <h4>You do not have any vehicle information.</h4>
        {% endif %}
        <a class="btn btn-info" href="{% url 'edit-my-account' %}">Edit my account</a >
    </div>
{% endblock %}