
{% extends "base_generic.html" %}

{% block content %}
<div style="margin-top: 50px; margin-left: 50px">
    <h1>All Available Requests</h1>
    {% if requests_list %}

        <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Destination</th>
                    <th scope="col">Arrival Time</th>
                    <th scope="col">Passengers Number</th>
                    <th scope="col">My sharer Number</th>
{#                    <th scope="col">Status</th>#}
                    <th scope="col">Operation</th>
                </tr>
                </thead>

                <tbody>
                {% for order in requests_list %}
                <tr>
                    <td>{{ order.destination }}</td>
                    <td>{{ order.arrival_time }}</td>
                    <td><span style="margin-left: 70px">{{ order.passenger_number }}</span></td>
                    <td><span style="margin-left: 50px">{{ share_pass_num }}</span></td>
{#                    <td><h5><span class="badge badge-light" style="margin-left: 5px">{{ order.status }}</span></h5></td>#}
                    <td>{% if order.status == "open" %}

                        <form action="{% url 'open-share-request-detail' order.pk %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="share_pass_num" value="{{ share_pass_num }}">
                            <input type="submit" name="s" value="Join this ride" class="btn btn-success">
                        </form>

                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>


    {% else %}
        <p>No requests.</p >
    {% endif %}
    <h4>open_share_orders_list</h4>
</div>
{% endblock %}