{#{% extends "base_generic.html" %}#}
{##}
{#{% block content %}#}
{#    <div style="margin-left: 50px; margin-top: 50px;">#}
{#        <h1>Make a request for your own myapp</h1>#}
{##}
{#        <p>Please provide the following information: </p>#}
{#        <form action="" method="post">#}
{#            {% csrf_token %}#}
{#            <p><label for="destination">Destination</label>#}
{#                <input type="text" class="form-control" id="destination" name="destination" style="width:25%"></p>#}
{#            <p><label for="arrival_time">Arrival Time (e.g. 2019-2-1)</label>#}
{#                <input type="date" class="form-control" id="arrival_time" name="arrival_time" style="width:25%"></p>#}
{#            <p><label for="passenger_number">Number of Passengers</label>#}
{#                <input type="number" class="form-control" id="passenger_number" name="passenger_number"#}
{#                       style="width:25%"></p>#}
{#            <p><input type="checkbox" class="form-check-input" id="is_shared" name="is_shared">#}
{#                <label class="form-check-label" for="is_shared">Willing to share this myapp with others?</label></p>#}
{##}
{#            <div>#}
{#                <input type="submit" value="Submit"/>#}
{#            </div>#}
{#        </form>#}
{##}
{#    </div>#}
{#{% endblock %}#}

{% extends "base_generic.html" %}

{% block content %}
    <div style="margin-left: 50px; margin-top: 50px;">
        <h1>Make a request for your own ride</h1>

        <p>Please provide the following information: </p>
        <form action="" method="post">
            {% csrf_token %}
            <div>
                {% if valid_flag %}
                {% else %}
                    <h5 style="color: red">Your input is invalid! Please fill in again.</h5>
                {% endif %}
            </div>
            <p><label for="destination">Destination</label>
                <input type="text" class="form-control" id="destination" name="destination" style="width:40%"
                       placeholder="e.g. Belmont" required></p>
            <p><label for="arrival_time">Arrival Time</label>
                <input type="datetime-local" class="form-control" id="arrival_time" name="arrival_time"
                       style="width:40%" placeholder="e.g. 2019-02-05 14:00:00" required></p>
            <p><label for="passenger_number">Number of Passengers</label>
                <input type="number" class="form-control" id="passenger_number" name="passenger_number"
                       style="width:40%" placeholder="1 - 6" required></p>

            <p><label for="special_request">Special Request</label>
                <input type="text" class="form-control" id="special_request" name="special_request"
                       style="width:40%" placeholder="special request"></p>
            <p><label for="special_vehicle_type">Special Vehicle Type</label>
                <input type="text" class="form-control" id="special_vehicle_type" name="special_vehicle_type"
                       style="width:40%" placeholder="special vehicle type"></p>

            <div class="custom-control custom-checkbox">
                {#                <input type="checkbox" class="custom-control-input" id="is_shared" name="is_shared">#}
                {#                    <label class="custom-control-label" for="is_shared">Willing to share this myapp with others?</label>#}
{#                <span style="display: inline-block">Is shared?</span>#}
{#                <input type="radio" id="is_shared" name="is_shared">#}
{#                    <option value="yes">Yes</option>#}
{#                    <option value="no">No</option>#}
                <p>Willing to share this ride?</p>
                <input type="radio" name="is_shared" value="yes" checked="checked">yes<br/>
                <input type="radio" name="is_shared" value="no">no
                </input>
            </div>

            <div>
                <input type="submit" value="Submit" class="btn btn-success" style="margin-top: 20px;"/>
                {#                <button type="submit" class="btn btn-success">Submit</button>#}
            </div>
        </form>

    </div>
{% endblock %}