{% extends "base_generic.html" %}

{% block content %}
    <div style="margin-top: 50px; margin-left: 50px;">
        <h3>Destination: {{ order.destination }}</h3>

        <div style="margin-top: 15px">
            <span class="alert alert-primary" role="alert" style="display: inline-block; width: 200px; "><strong>Destination</strong></span>
            <span class="alert alert-primary" role="alert" style="display: inline-block; width: 400px">{{ order.destination }}</span>
        </div>

        <div>
            <span class="alert alert-secondary" role="alert" style="display: inline-block; width: 200px"><strong>Arrival Time</strong></span>
            <span class="alert alert-secondary" role="alert" style="display: inline-block; width: 400px">{{ order.arrival_time | date:"Y-m-d H:i" }}</span>
        </div>

        <div>
            <span class="alert alert-primary" role="alert" style="display: inline-block; width: 200px"><strong>Status</strong></span>
            <span class="alert alert-primary" role="alert" style="display: inline-block; width: 400px">{{ order.status }}</span>
        </div>

        <div>
            <span class="alert alert-secondary" role="alert" style="display: inline-block; width: 200px"><strong>Owner</strong></span>
            <span class="alert alert-secondary" role="alert" style="display: inline-block; width: 400px">{{ order.owner }}</span>
        </div>


        <div>
            <span class="alert alert-primary" role="alert" style="display: inline-block; width: 200px"><strong>All Passengers</strong></span>
            <span class="alert alert-primary" role="alert" style="display: inline-block; width: 400px">{{ order.passenger_number }}</span>
        </div>

        <div>
            <span class="alert alert-primary" role="alert" style="display: inline-block; width: 200px"><strong>Driver</strong></span>
            <span class="alert alert-primary" role="alert" style="display: inline-block; width: 400px">
                {% if order.driver %}
                    {{ order.driver }}
                {% else %}
                    No driver
                {% endif %}
                </span>
        </div>


        {% if order.driver %}
            <div>
            <span class="alert alert-primary" role="alert" style="display: inline-block; width: 200px"><strong>Driver Full Name</strong></span>
            <span class="alert alert-primary" role="alert" style="display: inline-block; width: 400px">{{ order.driver.full_name }}</span>
            </div>

            <div>
            <span class="alert alert-primary" role="alert" style="display: inline-block; width: 200px"><strong>Plate Number</strong></span>
            <span class="alert alert-primary" role="alert" style="display: inline-block; width: 400px">{{ order.driver.plate_num }}</span>
            </div>

            <div>
            <span class="alert alert-primary" role="alert" style="display: inline-block; width: 200px"><strong>Special Vehicle Info</strong></span>
            <span class="alert alert-primary" role="alert" style="display: inline-block; width: 400px">{{ order.driver.special_vehicle_info }}</span>
            </div>

        {% endif %}

        <div>
            <span class="alert alert-secondary" role="alert" style="display: inline-block; width: 200px"><strong>Share with others?</strong></span>
            <span class="alert alert-secondary" role="alert" style="display: inline-block; width: 400px">
                {% if order.is_shared %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </span>
        </div>

        {% if order.is_shared %}
            {% if parties %}
                {% for party in parties %}
                    <div>
                    <span class="alert alert-secondary" role="alert" style="display: inline-block; width: 200px"><strong>Sharers</strong></span>
                    <span class="alert alert-secondary" role="alert" style="display: inline-block; width: 400px">{{ party.sharer_person }} has {{ party.share_pass_num }} people
                    </span>
                    </div>
                {% endfor %}

            {% else %}
                <div>
                    <span class="alert alert-secondary" role="alert"
                          style="display: inline-block; width: 200px"><strong>Sharers</strong></span>
                    <span class="alert alert-secondary" role="alert" style="display: inline-block; width: 400px">No sharer</span>
                </div>
            {% endif %}
        {% endif %}

        <div>
            <span class="alert alert-primary" role="alert" style="display: inline-block; width: 200px"><strong>Special requests</strong></span>
            <span class="alert alert-primary" role="alert" style="display: inline-block; width: 400px">
                {% if order.special_request %}
                    {{ order.special_request }}
                {% else %}
                    No special request
                {% endif %}
            </span>
        </div>
        <div>
            <span class="alert alert-primary" role="alert" style="display: inline-block; width: 200px">Special Vehicle Type</span>
            <span class="alert alert-primary" role="alert" style="display: inline-block; width: 400px">
                {% if order.special_vehicle_type %}
                    {{ order.special_vehicle_type }}
                {% else %}
                    No special vehicle type
                {% endif %}
            </span>
        </div>

        <h4>request--detail</h4>

    </div>
{% endblock %}