.curtain{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../image/background.jpg);
    background-size: cover;
    padding-left: 30px;
    padding-right: 30px;
}

.sidebolck{
    position: relative;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px gray;
    background-image: linear-gradient(to right bottom, wheat, darkseagreen);
    filter:alpha(opacity=30);
    -moz-opacity:0.7;
    opacity:0.7;
}