{% extends "base_generic.html" %}

{% block content %}
    <div style="margin-left: 50px; margin-top: 50px">
        <h1>Make a sharing request</h1>
        <h3>Join an open riding order</h3>
        <p>Please fill in the share information.</p >
        <form action="" method="post">
            {% csrf_token %}
            <table>
            <div>
                {% if valid_flag %}
                {% else %}
                    <h5 style="color: red">Your input time window is invalid</h5>
                {% endif %}
                </div>
                <p><label for="destination">Destination</label>
                    <input type="text" class="form-control" id="destination" name="destination" style="width:40%" placeholder="e.g. Belmont" required></p >

                <p><label for="share_pass_num">Number of Passengers</label>
                    <input type="number" class="form-control" id="share_pass_num" name="share_pass_num" style="width:40%" placeholder="1 - 6" min="1" max="6" required></p >

                <p><label for="earliest_arrival">Earliest Arrival Time</label>
                    <input type="datetime-local" class="form-control" id="earliest_arrival" name="earliest_arrival" placeholder="e.g. 2019-02-05 23:59" style="width:40%" required></p >

                <p><label for="latest_arrival">Latest Arrival Time</label>
                    <input type="datetime-local" class="form-control" id="latest_arrival" name="latest_arrival" placeholder="e.g. 2019-02-05 23:59" style="width:40%" required></p >
            </table>

            <button type="submit" name="search" value="Search" class="btn btn-success">submit</button>
        </form>
    </div>
{% endblock %}