{% extends "base_generic.html" %}

{% block content %}
    <div style="margin-left: 50px; margin-top: 50px;">
        <h1>My Driving Request</h1>
        {% if requests_list %}
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Destination</th>
                    <th scope="col">Arrival Time</th>
                    <th scope="col">Passengers Number</th>
                    <th scope="col">Status</th>
                    <th scope="col">Operation</th>
                </tr>
                </thead>

                <tbody>
                {% for order in requests_list %}
                    <form action="" method="post">
                    <tr>

                    {% csrf_token %}
                    <td><a href="{% url 'my-own-request-detail' order.pk %}" style="margin-left: 10px">{{ order.destination }}</a ></td>
                    <td>{{ order.arrival_time | date:"Y-m-d H:i" }}</td>
                    <td ><span style="margin-left: 70px">{{ order.passenger_number }}</span></td>
                    <td><h5><span class="badge badge-light" style="margin-left: 5px">{{ order.status }}</span></h5></td>
                    <td>{% if order.status == "confirm" %}
                        <h5><button type="submit" class="btn btn-outline-success" style="display: inline-block"><a>complete</a></button></h5>
                            <input type="hidden" value={{ order.pk }} name="order_pk">
                        {% else %}
                        {% endif %}
                    </td>
                    </tr></form>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No requests.</p >
        {% endif %}

    </div>
{% endblock %}