{#{% extends "base_generic.html" %}#}
{##}
{#{% block content %}#}
{##}
{#    <h1>My Sharing request</h1>#}
{#    {% if requests_list %}#}
{##}
{#      {% for order in requests_list %}#}
{#          <li>#}
{#            <a href="{% url 'my-own-request-detail' order.pk %}">{{ order.destination }}</a> ({{order.status}})#}
{#          <a href="{% url 'edit-my-share-request' order.pk %}">edit</a>#}
{#          <a href="{% url 'delete-my-share-request' order.pk %}">cancel</a>#}
{#          </li>#}
{#      {% endfor %}#}
{##}
{#    {% else %}#}
{#      <p>No requests.</p>#}
{#    {% endif %}#}
{#{% endblock %}#}
{% extends "base_generic.html" %}

{% block content %}
    <div style="margin-left: 50px; margin-top: 50px;">
        <h1>My Share Request</h1>
        {% if requests_list %}

            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Destination</th>
                    <th scope="col">Arrival Time</th>
                    <th scope="col">Passengers Number</th>
                    <th scope="col">Status</th>
                    <th scope="col">Operation</th>
                </tr>
                </thead>

                <tbody>
                {% for order in requests_list %}
                <tr>
                    <td><a href="{%url 'my-own-request-detail' order.pk %}" style="margin-left: 10px">{{ order.destination }}</a ></td>
                    <td>{{ order.arrival_time }}</td>
                    <td ><span style="margin-left: 70px">{{ order.passenger_number }}</span></td>
                    <td><h5><span class="badge badge-light" style="margin-left: 5px">{{ order.status }}</span></h5></td>
                    <td>{% if order.status == "open" %}
                        <h5 style="display: inline-block"><span ><a class="badge badge-secondary" href="{% url 'edit-my-share-request' order.pk %}" style="margin-left: 20px">edit</a ></span></h5>
                        <h5 style="display: inline-block"><span class="badge badge-danger"><a href=" {% url 'delete-my-share-request' order.pk %}">cancel</a ></span></h5>
                        {% else %}
                        {% endif %}

                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No requests.</p >
        {% endif %}

    </div>
{% endblock %}