{% extends "base_generic.html" %}

{% block content %}
  <h1>Destination: {{ order.destination }}</h1>

  <p><strong>Destination:</strong> <a href="{% url 'all-requests' %}">{{ order.destination }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Arrival Time:</strong> {{ order.arrival_time }}</p>
    <form action="" method="post">{% csrf_token %}
   <button type="submit" href="">Confirm</button>
    </form>
    <h4>open_order_share_detail</h4>
  <div style="margin-left:20px;margin-top:20px">

  </div>
{% endblock %}
