{% extends "base_generic.html" %}

{% block content %}
    <div style="margin-top: 50px; margin-left: 50px;">
        <h1>Ride Sharing Home</h1>

        <p>Welcome to iuber, a very basic ride sharing website for user to make a ride as owner, sharer and driver.</p >
        <hr>
        <h2>Welcome home, {{ user.username }}</h2>
        <div style="margin-top: 30px">
            {% if user.license_num %}
                <h5>Your driving account information:</h5>
                <ul>
                    <li>Full Name: {{ user.full_name }}    </li>
                    <li>My Vehicle Type: {{ user.vehicle_type }}</li>
                    <li>My license number: {{ user.license_num }}</li>
                    <li>My Vehicle Capacity: {{ user.max_passenger }}</li>
                    <li>My Vehicle Plate Number: {{ user.plate_num }}</li>
                    <li>Special Vehicle Info: {{ user.special_vehicle_info }}</li>
                </ul>
            {% else %}
                <h5>You do not have driving account information.</h5>
            {% endif %}
        </div>

        <div style="margin-top: 30px">
            <h5>Your account has the following record counts:</h5>
            <ul>
                <li>My Owner Orders:{{ num_orders }}</li>
                <li>My Sharing Orders:{{ num_sharer }}</li>
                <li>My Driver Orders: {{ num_driver }}</li>

            </ul>
        </div>
    </div>
{% endblock %}